[Unit]
Description=Scanner Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u server.py
WorkingDirectory=/home/pi/mfrc522-socket-service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target